.formMusicians {
  width: 65%;
  height: 50%;
  margin-top: -8%;
  margin-right: 15%;
  margin-left: 20%;
  margin-bottom: 10%;
  border-style: solid;
}
.results {
  width: 65%;
  height: 50%;
  margin-top: -8%;
  margin-right: 15%;
  margin-left: 20%;
  margin-bottom: 10%;
  border-style: solid;
}
